repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check . --fix
        language: system
        pass_filenames: false

      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        pass_filenames: false
